version: "3.9"

services:
  fastapi_app:
    build: .
    ports:
      - "8000:8000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    networks:
      - my_app_network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - my_app_network

volumes:
  redis_data:

networks:
  my_app_network:
    driver: bridge
