apiVersion: apps/v1
kind: Deployment
metadata:
  name: counter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: counter
  template:
    metadata:
      labels:
        app: counter
    spec:
      containers:
      - name: requests-counter
        image: requests-counter:latest   
        imagePullPolicy: IfNotPresent    # or Never if needed
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: log-volume
          mountPath: /var/log
      - name: logger-sidecar
        image: busybox:1.36.1
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "tail -n+1 -F /var/log/counter.log"]
        volumeMounts:
        - name: log-volume
          mountPath: /var/log
      volumes:
      - name: log-volume
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: counter-service
spec:
  type: NodePort
  selector:
    app: counter
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30007    # choose a port in the NodePort range (30000-32767)
